.Main {
  padding: 10px;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  padding: 20px;
}

.station {
  padding: 20px;
}

@media screen and (max-width: 720px) {
  .station,
  .charts {
    padding: 20px;
  }
}


.Main section {
  position: relative;
  width: calc(100vw - 20px);
}

@media screen and (min-width: 720px) {
  .Main section {
    max-width: calc(50% - 20px);;
  }
}

.loader {
  left: 50%;
  margin-top: 100px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.message {
  margin-top: 15px;
}

.loader img {
  width: 100px;
}