.Main {
  text-align: center;
  padding: 10px;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.Main section {
  position: relative;
  width: calc(100vw - 20px);
}

@media screen and (min-width: 720px) {
  .Main section {
    max-width: 48%;
  }
}

.loader {
  margin-top: 100px;
}

.message {
  margin-top: 15px;
}

.loader img {
  width: 100px;
}